.user {
  display: flex;
  align-items: center;
  background: #00000036;
  color: white;
  transform: translateY(-25px);
}

.userName {
  margin-left: 10px;
}

.iconWrapper {
  margin-left: auto;
}

.userMic {
  margin-right: 10px;
  display: inline-block;
}

.userMic[stroke="red"] {
  display: inline-block;
}
